.main-wrapper {
  margin-left: 5vw;
  overflow-x: hidden;
}

.top-header {
  width: 100%;
  margin: auto;
  display: flex;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  padding: 20px;
}

.view-toggle {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.view-toggle button {
  padding: 8px 16px;
  margin-left: 10px;
  border: none;
  cursor: pointer;
}

.view-toggle button:hover {
  background-color: rgb(182, 199, 226);
}

.view-toggle button.active {
  background-color: rgb(89, 108, 138);
  color: white;
}

.item-container {
  display: flex;
  flex-wrap: wrap;
}

.item {
  width: 100%;
  padding: 20px;
  background-color: #f0f0f0;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card-view .item {
  width: calc(20% - 20px);
  margin-right: 20px;
}

#addChildBtn {
  background: rgb(182, 199, 226);
  border-radius: 50px;
  font-family: Inter;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.3s;
}

#addChildBtn:hover {
  background: rgb(105, 135, 182);
  transition: 0.3s;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  display: flex;
  background-color: #fff;
  margin: 5% auto;
  padding: 20px;
  border: none;
  width: 80%;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  position: relative;
}

.left-section {
  flex: 1;
  text-align: center;
}

.right-section {
  flex: 2;
  padding-left: 20px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-content h2 {
  color: #000;
  font-size: 24px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-row {
  display: flex;
  justify-content: space-between;
}

.form-row .form-group {
  flex: 1;
  margin-right: 10px;
}

.form-row .form-group:last-child {
  margin-right: 0;
}

.modal-content label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.modal-content input[type="text"],
.modal-content input[type="number"],
.modal-content input[type="email"],
.modal-content input[type="date"],
.modal-content input[type="tel"],
.modal-content select,
.modal-content textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 5px;
  box-sizing: border-box;
}

.modal-content button[type="submit"] {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.modal-content button[type="submit"]:hover {
  background-color: #4c33b5;
}

.cssbuttons-io-button {
  background: radial-gradient(
    circle at center,
    rgb(239, 249, 249) 0%,
    rgb(182, 199, 226) 100.2%
  );
  color: black;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em rgb(182, 199, 226);
  overflow: hidden;
  position: relative;
  height: 2.8em;
  margin: auto;
  cursor: pointer;
  width: 80%;
}

.cssbuttons-io-button .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em rgb(93, 118, 158);
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #7b52b9;
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}
