@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
body {
  font-family: Inter;
  background: radial-gradient(
    circle at center,
    rgb(239, 249, 249) 0%,
    rgb(182, 199, 226) 100.2%
  );
}

.main-wrapper {
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 50vw;
  height: 75vh;
  transform: translate(0, 15%);
}

.form-wrapper {
  background-color: rgb(255, 255, 255);
  width: 50%;
  height: 100%;
}

#create-account_label {
  width: 100%;
  margin: auto;
  text-align: center;
}
.reglink {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.404);
  font-size: 10px;
}
.reglink:hover {
  text-decoration: none;
  color: rgb(70, 166, 255);
}

.header {
  width: 100%;
  height: auto;
  text-align: center;
  font-weight: bold;
}
#logo {
  width: 40%;
  height: 25%;
  object-fit: contain;
  margin: 0;
  margin-top: 5px;
}

.login-wrapper {
  margin: 10%;
}

label {
  width: 100%;
  font-weight: bold;
  margin-bottom: 10px;
  letter-spacing: 2px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.301);
}

input[type="text"],
input[type="password"] {
  font-family: Inter;
  padding: 10px;
  width: 100%;
  height: 25px;
  border-radius: 10px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
input[type="text"]:focus,
input[type="password"]:focus {
  padding: 10px;
  width: 100%;
  height: 25px;
  border-radius: 10px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  outline: none;
  color: rgb(0, 0, 0);
  font-family: Inter;
}

.forgotpass {
  color: rgba(0, 0, 0, 0.301);
  text-align: end;
  width: 100%;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 12px;
  cursor: pointer;
}
.forgotpass:hover {
  color: rgb(70, 166, 255);
  transition: 0.2s;
}
.forgotpass {
  text-decoration: none;
}

button[type="submit"] {
  font-size: 1rem;
  border-radius: 50px;
  background: white;
  font-weight: bold;
  margin-top: 10%;
  font-family: Inter;
  width: 100%;
  height: 50px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
button[type="submit"]:hover {
  background: radial-gradient(
    circle at center,
    rgb(239, 249, 249) 0%,
    rgb(182, 199, 226) 100.2%
  );
  font-weight: bold;
  margin-top: 10%;
  font-family: Inter;
  border: none;
  outline: none;
  cursor: pointer;
}

.splash-wrapper {
  display: flex;
  overflow: hidden;
  width: 50%;
  height: 100%;
}

.splash-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 1.2s ease-in-out;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  border-radius: 20px;
  text-align: center;
  width: 25%;
  background-color: #fefefee5;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.forgot-button {
  font-size: 1rem;
  border-radius: 50px;
  background: white;
  font-weight: bold;
  margin-top: 10%;
  font-family: Inter;
  width: 100%;
  height: 50px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.forgot-button:hover {
  background: radial-gradient(
    circle at center,
    rgb(239, 249, 249) 0%,
    rgb(182, 199, 226) 100.2%
  );
  font-weight: bold;
  margin-top: 10%;
  font-family: Inter;
  border: none;
  outline: none;
  cursor: pointer;
}
